## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
mouse_data = pd.merge(mouse_metadata, study_results, on="Mouse ID", how="outer")

# Display the data table for preview
mouse_data

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [2]:
# Checking the number of mice.
mouse_counts_before = mouse_data["Mouse ID"].nunique()
mouse_counts_before

249

In [3]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
mouse_dupes = mouse_data[mouse_data.duplicated(['Mouse ID', 'Timepoint'])]
mouse_dupes_ID = mouse_dupes.iloc[0, 0]
mouse_dupes_ID

'g989'

In [4]:
# Optional: Get all the data for the duplicate mouse ID. 
mouse_dupes_all = mouse_data[mouse_data['Mouse ID'] == mouse_dupes_ID]
mouse_dupes_all

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,21,26,0,45.000000,0
909,g989,Propriva,Female,21,26,0,45.000000,0
910,g989,Propriva,Female,21,26,5,48.786801,0
911,g989,Propriva,Female,21,26,5,47.570392,0
912,g989,Propriva,Female,21,26,10,51.745156,0
913,g989,Propriva,Female,21,26,10,49.880528,0
914,g989,Propriva,Female,21,26,15,51.325852,1
915,g989,Propriva,Female,21,26,15,53.442020,0
916,g989,Propriva,Female,21,26,20,55.326122,1
917,g989,Propriva,Female,21,26,20,54.657650,1
918,g989,Propriva,Female,21,26,25,56.045564,1
919,g989,Propriva,Female,21,26,30,59.082294,1
920,g989,Propriva,Female,21,26,35,62.570880,2

In [5]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
mouse_data.drop(mouse_data[mouse_data['Mouse ID'] == mouse_dupes_ID].index, inplace = True)
mouse_data

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [6]:
# Checking the number of mice in the clean DataFrame.
mouse_counts_after = mouse_data["Mouse ID"].nunique()
mouse_counts_after

248

## Summary Statistics

In [18]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
# This method is the most straighforward, creating multiple series and putting them all together at the end.
regimen = mouse_data["Drug Regimen"]

regimen = regimen.drop_duplicates()
drug_name = []
regimen_tumorvol_mean = []
regimen_tumorvol_median = []
regimen_tumorvol_var = []
regimen_tumorvol_std = []
regimen_tumorvol_sem = []

for drug in regimen:
    drug_name.append(drug)
    regimen_tumorvol = mouse_data.loc[mouse_data['Drug Regimen']==drug, 'Tumor Volume (mm3)']
    regimen_tumorvol_mean.append(regimen_tumorvol.mean())
    regimen_tumorvol_median.append(regimen_tumorvol.median())
    regimen_tumorvol_var.append(regimen_tumorvol.var())
    regimen_tumorvol_std.append(regimen_tumorvol.std())
    regimen_tumorvol_sem.append(regimen_tumorvol.sem())
    
#    sample = regimen_tumorvol.sample(10)
#    regimen_tumorvol_sem.append(st.sem(sample))
    
#print(f"Drugs: {drug_name}")
#print(f"Mean: {regimen_tumorvol_mean}")
#print(f"Median: {regimen_tumorvol_median}")
#print(f"Variance: {regimen_tumorvol_var}")
#print(f"Standard deviation: {regimen_tumorvol_std}")
#print(f"SEM: {regimen_tumorvol_sem}")

statistics_dict = {'Drug Regimen': drug_name,
    'Mean':regimen_tumorvol_mean,
     'Median':regimen_tumorvol_median, 
     'Variance': regimen_tumorvol_var, 
     'Standard Deviation': regimen_tumorvol_std,
     'SEM': regimen_tumorvol_sem}

statistics_df = pd.DataFrame(statistics_dict)
statistics_df = statistics_df.sort_values('Drug Regimen')
statistics_df

  Drug Regimen       Mean     Median   Variance  Standard Deviation       SEM
1    Capomulin  40.675741  41.557809  24.947764            4.994774  0.329346
4     Ceftamin  52.591172  51.776157  39.290177            6.268188  0.469821
2    Infubinol  52.884795  51.820584  43.128684            6.567243  0.492236
7     Ketapril  55.235638  53.698743  68.553577            8.279709  0.603860
9     Naftisol  54.331565  52.509285  66.173479            8.134708  0.596466
3      Placebo  54.033581  52.288934  61.168083            7.821003  0.581331
8     Propriva  52.320930  50.446266  43.852013            6.622085  0.544332
0     Ramicane  40.216745  40.673236  23.486704            4.846308  0.320955
5     Stelasyn  54.233149  52.431737  59.450562            7.710419  0.573111
6    Zoniferol  53.236507  51.818479  48.533355            6.966589  0.516398

In [19]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
# This method produces everything in a single groupby function
drug_group = mouse_data.groupby(["Drug Regimen"])
drug_group_tumorvol = drug_group["Tumor Volume (mm3)"]
drug_group_describe = drug_group_tumorvol.describe()
drug_group_describe["Variance"] = drug_group_tumorvol.var()
drug_group_describe["SEM"] = drug_group_tumorvol.sem()
drug_group_describe = drug_group_describe.rename(columns={"mean":"Mean", "50%":"Median", "std": "Standard Deviation"})

statistics_group = items_grouped_describe.loc[:, ["Mean", "Median", "Variance", "Standard Deviation", "SEM"]]

#sample2 = drug_group.sample(10)
#drug_group_describe["SEM"] = st.sem(sample2)
statistics_group
#sample2

NameError: name 'items_grouped_describe' is not defined

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas.

In [10]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen